appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
BeautifulSoup4==4.10.0
CacheControl==0.12.6
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
contextlib2==0.6.0
cryptography==3.1.1
decorator==4.4.2
deepdiff==4.3.2
distlib==0.3.0
distro==1.4.0
-e git+https://github.com/mobolic/facebook-sdk.git@ffd9980700be48964d6a6a61144edb1c3ea29cff#egg=facebook_sdk
freezegun==0.3.15
future==0.18.2
google-api-core==1.17.0
google-api-python-client==1.9.1
google-auth==1.16.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
gspread==3.4.2
html5lib==1.0.1
httplib2==0.18.1
idna==2.9
importlib-metadata==1.6.0
ipaddr==2.2.0
isort==4.3.21
lazy-object-proxy==1.4.3
lockfile==0.12.2
mccabe==0.6.1
more-itertools==8.2.0
msgpack==0.6.2
oauth2client==4.1.3
oauthlib==3.1.0
ordered-set==3.1.1
packaging==20.3
pathspec==0.8.0
pep517==0.8.2
pluggy==0.13.1
progress==1.5
protobuf==3.12.2
py==1.8.1
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.4.4
pyparsing==2.4.7
pytest==5.4.1
pytest-asyncio==0.12.0
python-dateutil==2.8.1
python-telegram-bot==12.6.1
pytoml==0.1.21
pytz==2020.1
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope==0.17.0
rsa==4.0
schedule==0.6.0
sheetfu==1.5.3
six==1.14.0
SQLAlchemy==1.3.17
Telethon==1.16.0
toml==0.10.0
tornado==6.0.4
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.8
vk-api==11.9.1
wcwidth==0.1.9
webencodings==0.5.1
wrapt==1.11.2
zipp==3.1.0
